[Unit]
Description=Update all distrobox containers
After=graphical-session.target

[Service]
Type=oneshot
Environment=XDG_RUNTIME_DIR=%t
ExecStart=/usr/bin/distrobox-upgrade --all

[Install]
WantedBy=graphical-session.target
