[Unit]
Description=Start Insync from distrobox
After=graphical-session.target
After=distrobox-update.service

[Service]
Type=exec
Environment=XDG_RUNTIME_DIR=%t
ExecStart=/usr/sbin/distrobox-enter  -n my-distrobox  --   insync start

[Install]
WantedBy=graphical-session.target
