[Desktop Entry]
Exec=rclone --vfs-cache-mode writes mount "Google Drive": /home/pedro/Documentos/Google\ Drive/ --daemon
Icon=
Name=rclone-drive
Path=
Terminal=False
Type=Application
